[Desktop Entry]
Name=oneko
Comment=Cute cat chasing around your mouse cursor
Comment[pl]=Kotek ganiający za kursorem myszy
Icon=oneko.png
Exec=/usr/X11R6/bin/oneko
Terminal=0
Type=Application
# vi: encoding=utf-8
